.listen_original_top{
	overflow: hidden;
	margin-top: 0.18rem;
}
.listen_top_left{
	float: left;
	margin-left: 0.24rem;
}
.listen_top_left img{
	width:2.12rem;
	height:2.12rem;
}
.listen_original_top{
	width: 100%;
	height:2.6rem;
	background: #f2f2f2;
}
.listen_original_top1{
	margin: 0.26rem 0;
}
.listen_top_right{
	font-size: 0.28rem;
	float: left;
	margin-left: 0.34rem;
}
.music_title{
	margin-top: 0.32rem;
}
.music_author{
	margin: 0.42rem 0 0 0.14rem;
}
.music_author1{
	margin-left: 0.24rem;
}
.music_introduce_center{
	width: 73.5%;
	margin:0.8rem auto;
	overflow: hidden;
}
.music_introduce_center p{
	font-size:0.24rem;
	text-align: center;
	line-height: 0.66rem;
}
.music_play_time{
	float: left;
	font-size: 0.2rem;
}
.music_play{
	width: 91.24%;
	margin:0 auto;
	overflow:hidden;
}
.music_bar{
	float: left;
	position: relative;
	margin: 0 0.24rem;
}
.music_play_endtime{
	float: left;
	font-size: 0.2rem;
}
.music_songbar{
	width:4.86rem;
	height:1px;
	background: #000;
	display: block;
	margin-top: 0.16rem;
}
.music_circle{
	display: block;
	width:0.18rem;
	height:0.18rem;
	border:1px solid #939393;
	background: #666666;
	border-radius: 50%;
	position: absolute;
	left: 20%;
	top: 0.06rem;
}
.music_play_center{
	background:#f2f2f2;
	padding-top: 0.3rem;
	padding-bottom: 0.8rem;
}
.music_play_btn{
	width: 60.8%;
	margin: 0.5rem auto 0;
	overflow: hidden;
}
.music_play_btn img{
	display: block;
	float: left;
}
.music_play_btn1{
	width: 0.5rem;
	margin-top: 0.2rem;
}
.music_play_btn2{
	width: 0.88rem;
	margin:0 1.28rem 0;
}
.music_play_btn3{
	width: 0.5rem;
	margin-top: 0.2rem;
}