body{
	background: #eaebef;
}
.study_cent1{
	overflow: hidden;
	width:100%;
	height: 4.06rem;
	padding-bottom: 0.28rem;
	position: absolute;
	z-index: 3;
}
.study_cent0{
	width:100%;
	height: 4.06rem;
	background: url(../img/study_msg/pic-1_03.png) #fff no-repeat 50% -20px/70% 100%;
	position: absolute;
	overflow: hidden;
}
.study_opacity{
	position: absolute;
	background: -webkit-linear-gradient(top,#fff 50%,#000 100%);
	background: -o-linear-gradient(top,#fff 50%,#000 100%);
	background: -moz-linear-gradient(top,#fff 50%,#000 100%);
	opacity: 0.2;
	bottom: 0.3rem;
	height: 4.06rem;
	width: 100%;
	z-index: 1;
}
.study_cent{
	height: 4.06rem;
	padding-bottom: 0.28rem;
	position: relative;
}
.study_cent1_tx{
	width: 100%;
}
.study_cent1_txhref{
	width:2.09rem;
	height:2.08rem;
	display: block;
	margin: 0.4rem auto 0;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #d4d2d2;
}
.study_cent1_txhref img{
	width: 100%;
	height: 100%;
}
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.study_name{
	font-size:0.34rem;
	color: #666666;
	float: left;
}
.study_sex{
	float: left;
	width: 0.34rem;
	height: 0.34rem;
	margin: 0.06rem 0 0 0.3rem;
}
.study_cent1_nickname{
	margin: 0.16rem 0 0 3.44rem;
	overflow: hidden;
}
.study_cent1_ul{
	overflow: hidden;
}
.study_cent1_ul ul li{
	float: left;
}
.study_cent1_ul ul{
	width: 6.3rem;
	overflow: hidden;
	margin: 0.3rem auto 0;
}
.study_cent_nums{
	margin-left: 0.5rem;
	width:2.9rem;
}
.study_cent_num1{
	display: block;
	font-size: 0.29rem;
	color:#888888;
	float: left;
}
.study_cent_num2{
	display: block;
	font-size: 0.3rem;
	color:#666666;
	float: left;
}
.study_cent2{
	width: 7.38rem;
	height: 6.71rem;
	background: url(../img/study_msg/study_pc5.png) no-repeat;
	background-size: 100% 100%;
	float: right;
	padding-bottom: 0.2rem;/**/
}
.study_cent3{
	width: 7.38rem;
	float: right;
	margin-top: 0.05rem;/**/
}
.study_cent2_top{
	width:6.86rem;
	margin: 0 auto;
	font-size:0.28rem;
	color:#52617d;
	line-height: 0.88rem;
}
.study_cent3_prul span{
	display: block;
	float: left;
	margin-top: 0.65rem;/**/
}
.study_cent3_period{
	color: #bdc6df;
	font-size: 0.2rem;
	margin-left: 0.2rem;
}
.study_cent3_prul ul{
	float: left;
	display: block;
	margin-top: 0.65rem;/**/
}
.study_cent3_prul ul li{
	float: left;
	margin-right: 0.12rem;
}
.study_cent3_prul li img{
	width: 0.38rem;
	height: 0.34rem;
	display: block;
}
.study_cent3_reward{
	font-size:0.2rem;
	color:#52617d;
	margin:0 0.22rem 0 0.38rem;
}
.study_cent3_prul{
	overflow: hidden;
	/*margin-top: 0.65rem;*//**/
	height: 1.02rem;
	background: url(../img/study_msg/study_pc17.png) no-repeat;
	background-size: 100% 100%;
}
.study_cent3_links{
	position: relative;
}
.study_cent3_link1{
	position: absolute;
	left: 0.28rem;
    top: -0.52rem;/**/
}
.study_cent3_link2{
	position: absolute;
	right: 0.4rem;
	top: -0.52rem;/**/
}
.study_cent3_link1 img{
	width:0.08rem;
	height: 0.85rem;/**/
}
.study_cent3_link2 img{
	width:0.08rem;
	height: 0.85rem;/**/
}
.study_cent2_bot{
	width: 6.8rem;
	margin: 0 auto;
}
.study_cent2_prul{
	overflow: hidden;
	margin-top: 0.2rem;
}
.study_cent2_period{
	color: #52617d;
	font-size: 0.2rem;
	float: left;
	margin-top: 0.07rem;
}
.study_cent2_reward{
	font-size:0.2rem;
	color:#52617d;
	margin:0.07rem 0.1rem 0 0.2rem;
	float: left;
}
.study_cent2_prul ul{
	float: left;
	display: block;
}
.study_cent2_prul ul li{
	float: left;
	margin-right: 0.12rem;
}
.study_cent2_prul li img{
	width: 0.38rem;
	height: 0.34rem;
	display: block;
}	
.study_cent2_start{
	font-size:0.23rem;
	color:#aab2c8;
	position: absolute;
	top: 0.5rem;
}
.study_cent2_cul .study_cent2_c{
	position: absolute;
}
.study_cent2_point{
	width:0.1rem;
	height: 0.1rem;
}
.study_cent2_stop{
	width: 0.44rem;
	height: 0.44rem;
}
.study_cent2_arch{
	width:0.77rem;
	height: 1.62rem;
}
.study_cent2_samll{
	width:0.43rem;
	height: 4px;
}
.study_cent2_middle1{
	width:1.68rem;
	height: 4px;
}
.study_cent2_middle2{
	width:1.78rem;
	height: 4px;
}
.study_cent2_big{
	width:1.88rem;
	height: 4px;
}
.study_cent2_cimgs{
	overflow: hidden;
}
.study_cent2_cimgs img{
	display: block;
	float: left;
}
.study_cent2_ps{
	margin-top: 0.2rem;
}
.scpoint{
   margin-top:0.02rem;	
}
.study_cent2_circula{
	position: relative;
	top: 0.54rem;
}
.a1{
	left: 0;
}
.a1 .scpoint{
	margin-left: 0.17rem;
}
.a2{
	left:0.97rem;
}
.a2 .study_cent2_ps{
	margin-left: 0.12rem;
}
.a3{
	left:3.28rem;
}
.a3 .study_cent2_ps{
	margin-left: 0.1rem;
}
.a4{
	left:5.76rem;
}
.a4 .scpoint{
	margin-left: 0.1rem;
	height: 1.62rem;
}
.a5{
	right:0.9rem;
	top: 2.25rem;/**/
}
.a5 .study_cent2_big{
	margin-right:0.17rem;
}
.a6{
	right:3.3rem;
	top: 2.25rem;/**/
}
.a6 .study_cent2_point{
	margin-left:0.17rem;
}
.a7{	
	right:5.6rem;
	top: 2.25rem;/**/
}
.study_cent2_start1{
	width: 0.44rem;
	height: 0.44rem;
}
.a1 .study_cent2_start{
	left: -0.16rem;
}
.a2 .study_cent2_start{
	left: -0.2rem;
}
.a3 .study_cent2_start{
	left: -0.3rem;
}
.a4 .study_cent2_start{
	left: -0.38rem;
}
.a5 .study_cent2_start{
	right: -0.5rem;
	top: 0.3rem;
}
.a6 .study_cent2_start{
	right: -0.5rem;
	top: 0.3rem;
}
.a7 .study_cent2_start{
	right: -1.5rem;
	top: 0.3rem;
	width: 2rem;
}
.study_cent2ul{
	position: absolute;
	top: -0.36rem;
	left: -32px;
}
.study_cent2ul li{
	/*float: left;*/
	display: block;
	margin-right: 0.1rem;
	
}
.study_cent2ul img{
	width: 0.24rem;
	height: 0.24rem;
}
.a7 .study_cent2ul{
	width: 1.88rem;
	left: -0.2rem;
}
.a5  ul{
	right:-0.16rem;
}
.a6  ul{
	right: -0.54rem;
}
.a4  ul{
	left:-0.4rem;
}
.study_cent2_circula{
	height:3rem;
	padding-top: 0.5rem;
}
.remark_msg{
	font-size:0.2rem;
	color:#fa694d;
}
.remark_pic{
	width: 0.35rem;
	height: 0.43rem;
	margin-left: 0.35rem;
}
.remark_pic img{
	width: 100%;
	height: 100%;
	display: block;
}
.remark1{
	float: left;
	width: 1.5rem;
}
.remark_hx{
	float: left;
	width: 2px;
	height: 0.6rem;
	margin-top: 0.05rem;
}
.remark_hx img{
	width: 100%;
	height: 100%;
	display: block;
}
.remark2{
	width: 4.66rem;
	float: right;
}
.remark2 p{
	font-size:0.28rem;
	color:#6f7b91;
	word-break: break-all;
}
.remark{
	overflow: hidden;
	margin-top: 0.5rem;
}
/*添加display:none*/
.study_screen{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	z-index: 10;
	display: none;
}
.study_zj{
	width: 100%;
	background: #fff;
	z-index: 10;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	display: none;
}
/*修改行高*/
.study_title1{
	font-size: 0.27rem;
	color:#a5abb6;
	text-align: center;
	line-height: 0.27rem;
}
/*修改行高*/
.study_title2{
	font-size: 0.27rem;
	color:#a5abb6;
	text-align: center;
	margin-top: 0.13rem;
	line-height: 0.27rem;
}
/*修改行高*/
.study_zj_cancle{
	font-size: 0.29rem;
	color:#52617d;
	padding: 0.5rem 0;
	text-align: center;
	line-height: 0.29rem;
}
.study_titles{
	overflow: hidden;
	padding: 0.65rem 0;
	text-align: center;
	border-bottom: 1px solid #bdc6df;
}
/*修改行高*/
.study_photo{
	color: #52617d;
	font-size: 0.28rem;
	padding: 0.5rem 0;
	text-align: center;
	border-bottom: 1px solid #bdc6df;
	line-height: 0.28rem;
}
/*修改行高*/
.study_select{
	color: #52617d;
	font-size: 0.28rem;
	padding: 0.5rem 0;
	text-align: center;
	border-bottom: 1px solid #bdc6df;
	line-height: 0.28rem;
}
.study_cent2_bot_cent{
	width:7.26rem;
	background: #fff;
}
.last_img img{
	width: 7.26rem;
}
